h3 {
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    box-sizing: border-box;
}

.data-table {
    padding: 10px;
    min-width: 70%;
    border-collapse: collapse;
}
.data-table thead th{
    padding: 10px 20px;
}

.data-table td {
    padding: 5px;
    text-align: right;
}


.data-table tbody td:first-child {
    padding-left: 30px;
}

.data-table tbody td:last-child {
    display: flex;
    justify-content: space-evenly;
}

.enregistrer {
    display: block;
    width: 406px;
    font-weight: bold;
    text-decoration: none;
    margin: 20px 30px;
    text-align: center;
    color: #fff;
    background-color: #E5B03C;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.75rem 30px;
}

.enregistrer:hover {
    cursor: pointer;
    background-color: #c39134;
}