@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

body {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    box-sizing: border-box;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.burger {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: #E5B03C;
    font-family: 'Material Icons', serif;
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: center;
    right: 10px;
    width: 50px;
}

.header-left .burger:before {
    content: 'menu';
}

.header-left .burger:checked:before {
    content: 'close';
}

.user-name {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #E5B03C;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 30px;
}

.user-img {
    height: 40px;
    width: auto;
    margin: 0 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover:not(.user-role) {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .user-name {
    cursor: pointer;
    border: 1px solid #d7d7d7;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    border-right: 1px solid #E5E5E5;
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 60px);
    box-shadow: 2px 0 4px -2px rgba(0, 0, 0, 0.25);
}

#sidebar.hidden {
    margin-left: -250px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#sidebar a {
    color: #808782;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    text-decoration: none;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

#sidebar a i {
    margin-right: 10px;
}

#sidebar a:hover {
    color: #808782;
    opacity: 0.5;
}


.content {
    padding: 10px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-title {
    font-weight: bold;
    color: #E5B03C;
}

.card {
    margin: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.default-btn {
    font-weight: bold;
    text-decoration: none;
    margin: 20px 10px;
    text-align: center;
    color: #fff;
    background-color: #E5B03C;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.75rem 30px;
    border: none;
    display: block;
    width: max-content;
}

.default-btn:hover {
    cursor: pointer;
    background-color: #c39134;
}

.delete-btn {
    font-weight: bold;
    text-decoration: none;
    margin: 20px 10px;
    text-align: center;
    color: #fff;
    background-color: #c63f3c;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.75rem 30px;
    border: none;
    display: block;
    width: max-content;
}

.delete-btn:hover {
    cursor: pointer;
    background-color: #8c2c29;
}





