.search-bar input {
    padding: 10px;
    min-width: 200px;
    border: #808782 solid 1px;
    border-radius: 5px;
}


.data-table {
    padding: 10px;
    min-width: 100%;
    border-collapse: collapse;
}
.data-table thead th{
    padding: 10px 20px;
}

.data-table tbody td {
    text-align: center;
}

.data-table tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.05);
}

.data-table tbody td:first-child {
    padding-left: 30px;
}

.data-table tbody td:last-child {
    display: flex;
    justify-content: space-evenly;
}

.data-table .action-btn {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    color: #FFFFFF;
}

.edit-btn{
    font-weight: bold;
    width: max-content;
    text-decoration: none;
    margin: 20px 10px;
    text-align: center;
    color: #fff;
    background-color: #2e63ba;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.75rem 18px;
    border: none;
}
.edit-btn:hover {
    background-color: #214786;
    cursor: pointer;
}

.view-btn{
    font-weight: bold;
    text-decoration: none;
    width: max-content;
    margin: 20px 10px;
    text-align: center;
    color: #fff;
    background-color: #8F2D56;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.75rem 30px;
    border: none;
}
.view-btn:hover {
    background-color: #D81159;
    cursor: pointer;
}

.infos_results
{
    padding-left: 30px;
}

#results_table
{
    height: 500px;
}

.pagination {
    display: flex;
    margin: 10px 0 30px 0;
    align-items: center;
}

.pagination select{
    padding: 3px;
    width: max-content;
}

.pagination a {
    margin-left: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    width: max-content;
    text-align: center;
    color: #fff;
    background-color: #2e63ba;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.25rem 5px;
}


