.faq-corner-link {
    position: absolute;
    top: 2rem;
    right: 5px;
    padding: 10px;

    color: #E5B03C;
    font-size: 20px;
    font-weight: bold;
}

.faq-corner-link:hover {
    color: #af822d;
}

.frequent-questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq {
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0.75rem;
    font-weight: bold;
    background-color: #656565;
}

.faq-question div a {
    margin: auto 10px;
    color: #fff;
}

.faq-question div a:hover {
    color: #dbdbdb;
    cursor: pointer;
}


.faq-answer {
    padding: 0.75rem;
}

.faq-answer.hidden {
    transition:height 1s ease-out;
    height: 0;
    padding: 0;
    overflow: hidden;
}


.open-ticket h2 {
    margin: 0;
    font-weight: bold;
}