
form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

form .form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-group div {
    width: 100%;
    margin: 5px 20px;
}

.form-group .checkbox {
    color: #E5B03C;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -10px;
}
.form-group input, textarea, select {
    padding: 10px;
    width: 100%;
    border: #808782 solid 1px;
    border-radius: 5px;
}
.form-group select {
    width: max-content;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
    font-family: inherit;
}

.submit-btn {
    width: max-content;
    font-weight: bold;
    text-decoration: none;
    margin: 20px 10px;
    text-align: center;
    color: #fff;
    background-color: #5CAB7D;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.75rem 30px;
    border: none;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgb(119, 143, 77);
    ;
}

.delete-button {
    font-weight: bold;
    text-decoration: none;
    margin: 20px 10px;
    text-align: center;
    color: #fff;
    background-color: #c63f3c;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.75rem 30px;
}
.delete-button:hover {
    cursor: pointer;
    background-color: #8c2c29;
}

.button-list {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}


/*style wrapper to give some space*/
.wrapper {
    position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

/*style label to give some more space*/
.wrapper label {
  display: block;
  padding: 12px 0px 12px 69px;
  font-size: large;
  text-transform: uppercase;
}

/*style and hide original checkbox*/
.wrapper input {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

/*position new box*/
.wrapper input + label::before {
  border: 2px solid;
  content: "";
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

/*create check symbol with pseudo element*/
.wrapper input + label::after {
  content: "";
  border: 4px solid;
  border-left: 0;
  border-top: 0;
  height: 20px;
  left: 14px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(45deg);
  transition: opacity 0.2s ease-in-out;
  width: 12px;
  color: #ffbf47;
}

/*reveal check for 'on' state*/
.wrapper input:checked + label::after {
  opacity: 1;
  color: #ffbf47;
}

/*focus styles—commented out for the tutorial, but you’ll need to add them for proper use*/
.wrapper input:focus + label::before {

  box-shadow: 0 0 0 3px #ffbf47;  
outline: 3px solid transparent;
}

.wrapper-firsthalf{
    position: relative;
    float: left;
}

.wrapper-secondhalf{
    position: relative;
    float: right;
}

