body
{
    margin: 0;
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    color: #808782;
    width: 100%;
}

.name
{
    position: absolute;
    width: 633px;
    height: 30px;
    left: 174px;
    top: 60px;

    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;       

    
    mix-blend-mode: normal;
}

.date
{
    position: absolute;
    width: 633px;
    height: 30px;
    left: 1191px;
    top: 60px;

    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;       

    
    mix-blend-mode: normal;
}

/*Scrolling*/
html {
  scroll-behavior: smooth;
 }

 

#heart-box,#temperature-box,#reflex-box,#conductivity-box,#tonality-box,#finish-box
{
  margin-top: 10%;
  padding-bottom: 30%;        

  position: relative;
  width: 1230px;
  height: 228px;
  left: 174px;
  top: 133px;
   
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.values /*texte avec valeurs*/
{
    position: relative;
    width: 493px;
    height: 62px;
    left: 60px;
    top: 40px;
}
.make-test {
  position: absolute;
  width: 479px;
  height: 259px;
  left: 571px;
  top: 150px;

  background-repeat: no-repeat;
  background-position: 15px 7px ;
  background-size: 27px 27px;
  padding-left: 36px;


  display: inline-flex;
  background-color: #FFFFFF;
  align-items: center;
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.1);
  border: 2px solid #E5B03C;
  border-radius: 30px;
  height: 45px;
  padding: 0 60px;
  color: #808782;
  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 25px;
  transition: transform .3s, box-shadow .3s;
  will-change: transform;
}
  
.make-test:hover {
    box-shadow: 0 4px 17px rgba(0,0,0,0.2);
    transform: translate3d(0, -2px, 0);
  }
.make-test:active {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    transform: translate3d(0, 1px, 0);
  }


#heart-test
{
  background-image: url(../image/HeartIcon.png);
}

#temperature-test
{
  background-image: url(../image/TemperatureIcon.png);
}

#reflex-test
{
  background-image: url(../image/ReflexIcon.png);
}

#conductivity-test
{
  background-image: url(../image/ConductivityIcon.png);
}

#tonality-test
{
  background-image: url(../image/TonalityIcon.png);
}



.next-test {
    position: absolute;
    width: 252px;
    height: 43px;
    left: 920px;
    top: 583px;


    display: inline-block;
    border-radius: 8px;
    background-color: #E5B03C;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .next-test span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .next-test span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .next-test:hover span {
    padding-right: 25px;
  }
  
  .next-test:hover span:after {
    opacity: 1;
    right: 0;
  }

h1
{
    text-decoration-line: underline;
}

#fin
{
  position: relative;
  top: 70px;
  font-size: xx-large;
  text-align: center;
}

