*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.password-form{
  background: white;
  padding: 80px 0;
  display: flex;
  text-align: center;
}
.inner-width{
  max-width: 450px;
  margin: auto;
  padding: 0 20px;
  box-shadow: 0 1.5px 1px 1px #d3d5d6;
}
.logo{
  width: 175px;
  height: auto;
}
.password-form h1{
  font-size: 20px;
  color: #656565;
  margin-top: 20px;
  margin-bottom: 40px;
  letter-spacing: 4px;
  font-weight: 400;
  text-align: center;
}
input{
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #E5B03C;
  color: #656565;
  padding: 10px 6px;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 270px;
}
.password-form button{
  background: #E5B03C;
  color: white;
  border: 1px solid #E5B03C;
  padding: 5px 40px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.4s linear;
  cursor: pointer;
  outline: none;
}
.password-form button:hover{
  background: white;
  color: #E5B03C;
}

h6 {
  color: darkgreen;
  margin: 30px auto;
}

.error {
  color: red;
}
